.container{
    width: min(100%,1440px);
    margin: auto;
}
/* header */
header{
    padding: 32px 80px;
    max-width: inherit;
    width: inherit;
    background-color:#372D23 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
}
i{
   font-size: 30px;
color:#FCC21B ;

}
.header_ul{
    display: flex;
   column-gap: 48px;
}
.header_a{
    font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color:#FCC21B;
}
.active{
    color:#ED6C30;
}
/* section1 */
.section1{
    position: relative;
    height: 640px;
}
.sec1img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec1article{
    width: calc(762/1440*100%);
height: calc(208/640*100%);
top: 216px;
left: calc(339/1440*100%);
border-radius: 10px;
border-width: 3px;
background-color:#FCC21B ;
position: absolute;
display: flex;
align-items: center;
justify-content: space-evenly;
border: 3px ;
border-color: #FFFFFF;
box-shadow: 10px 10px 4px 0px #00000080 inset;

}
.sec1h{
    font-family: Inter;
font-weight: 700;
font-size: 48px;
line-height: 56px;
letter-spacing: 0%;
color:#FFFFFF ;
text-shadow: 6px 2px 4px 0px #372D23;


}
/* section2 */
.section2{
    padding-inline:80px ;
    padding-top: 96px;
    padding-bottom: 104px;
    background-color: #FFE18A;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.sec2article{
    width: calc(620/1280*100%);
}
.sec2img{
    object-fit: cover;
}
.sec2h{
    font-family: Inter;
font-weight: 700;
font-size: 64px;
line-height: 72px;
letter-spacing: 0%;
color:#FFFFFF ;
top: 260px;
left: 274px;
position: absolute;
}
.sec2h1{
    position: absolute;
    font-family: Inter;
font-weight: 700;
font-size: 64px;
line-height: 72px;
letter-spacing: 0%;
color: #FFFFFF;
top: 260px;
left:935px ;
}
/* footer */
footer{
    padding: 32px 80px;
    background-color: #372D23;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer_a{
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color:#FCC21B ;
}
.footerul2{
    display: flex;
    justify-content: space-between;
    width: calc(200/1440*100%);
}